/*media quaries*/
$bp-largest: 75em;    //1400//
$bp-large: 62.5em;    //1000//
$bp-mindium: 53.13em;    //850//
$bp-min: 43.75em;    //700//
$bp-smallest: 40.63em;    //650//
$bp-smallest: 28.13em;    //450//




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.container{
     min-height: 50rem;
     width: 93rem;
     background-color:  #ffffff; 
     margin: auto;
     margin-top: 5rem;
     
     @media only screen and (max-width:$bp-largest){
         width: 90rem;
         margin-top: 0rem;
    }
     
} 