@import "sass/base.scss";
@import "sass/header.scss";
@import "sass/explore.scss"; 
@import "sass/grid.scss"; 
@import "sass/property-type.scss"; 
@import "sass/choose-us.scss"; 
@import "sass/neighborhood.scss"; 
@import "sass/agents.scss"; 
@import "sass/profile.scss"; 
@import "sass/news.scss"; 
@import "sass/join-us.scss"; 
@import "sass/footer.scss"; 



/*media quaries*/
$bp-largest: 75em;    //1400//
$bp-large: 62.5em;    //1000//
$bp-mindium: 50em;    //800//
$bp-min: 43.75em;    //700//
$bp-smallest: 40.63em;    //650//
$bp-smallest: 28.13em;    //450//



/*colors*/
$color-primary:#2ea5a4; 
$color-background:#e6f5f5;
$color-light:#e6f5f5;










 
 

  